.wrapper{
    display: grid;
    grid-template-columns: 25% 75%;
    grid-template-rows: 1fr 100px;
    grid-column-gap: 40px;
}

.button{
    margin-top: 40px;
    grid-column-start: 2;
    grid-column-end: 3;
}