.trailers_wrapper{
    display: flex;
    width: 100%;
    overflow: scroll;
    overflow-y:hidden;
    height: 330px;

}
.trailer_item{
    margin-left: 20px;
}

.trailers_wrapper::-webkit-scrollbar{
    height: 8px;
}
.trailers_wrapper::-webkit-scrollbar-track {
    background-color: white;
}

.trailers_wrapper::-webkit-scrollbar-thumb {
    background-color: #bfc1be;
    border-radius: 100px;
    height: 20px;
}