.cards_wrapper {
    display: flex;
    width: 100%;
    overflow: scroll;
    overflow-y: hidden;
    height: auto;
    margin-top: 20px;
}
.card_item {
    margin-bottom: 20px;
}

.card_item:not(:nth-child(1)) {
    margin-left: 20px;
}

.cards_wrapper::-webkit-scrollbar {
    height: 8px;
}

.cards_wrapper::-webkit-scrollbar-track {
    background-color: white;
}

.cards_wrapper::-webkit-scrollbar-thumb {
    background-color: #bfc1be;
    border-radius: 100px;
    height: 20px;
}

.title {
    margin-top: 30px;
    font-weight: 600;
    font-size: 22px;
}