header{
    height: 60px;
    background-color:#0d253f;
    width: 100%;
    margin-bottom: 5vh;
}
.content{
    height: 100%;
    width: 70%;
    margin: 0 auto;
    display: flex;
    align-items: center;
}
.logo{
    width:160px;
}
.login{
    margin-left:200px;
}


