*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*font-family: 'Source Sans Pro', Arial, sans-serif;*/
    font-family: Consolas;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.app-wrapper{
    width: 70%;
    margin: 0 auto;
    height: 200vh;
}
body::-webkit-scrollbar {
    width: 12px;               /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
    background: orange;        /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
    background-color: blue;    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 3px solid orange;  /* creates padding around scroll thumb */

}
a{
    text-decoration: none;
}